body{
    margin: 0;
     background-color:rgb(105, 105, 223) ;
}
header{
    background-color: rgb(113, 113, 235);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color:white;
    margin:30px;
}
.hero{
    height: 100px;
    background-color: rgb(105, 105, 223);
    text-align: center;
    padding-top: 20px;
    color:white;
}
.hero h1{
    font-size: 25px;
}
.presentacion{
   text-align: center;
   color: white;
}
.presentacion h1{
    font-size:25px;
}